<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registriraj agenta</title>
</head>
<body>
<div class="container">
    <a class="navbar-brand" href="#" th:href="@{/}"><h1>Povratak na početnu stranicu</h1></a> </div>
<div class="container">
    <a class="navbar-brand" th:href="@{/login/}">Već imate korisnički račun? Prijavite se</a>
    </a>
</div>

<br>
<!-- Create HTML registration form -->
<div class="container" id="userCreate">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="action_page.php">
                <div class="container">
                    <h1>Registracija agenta</h1>
                    <hr>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <label for="naziv"><b>Korisničko ime</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="naziv" required>

                    <label for="ime"><b>Ime</b></label>
                    <input type="text" placeholder="Ime" name="ime" id="ime" required>

                    <label for="prezime"><b>Prezime</b></label>
                    <input type="text" placeholder="Prezime" name="prezime" id="prezime" required>

                    <label for="oib"><b>OIB</b></label>
                    <input type="text" placeholder="OIB" name="oib" id="oib" required>

                    <label for="birth"><b>Datum rođenja</b></label>
                    <input type="date" id="birth">


                    <label for="psw"><b>Lozinka</b></label>
                    <input type="password" placeholder="Unesi lozinku" name="psw" id="psw" required>

                    <hr>
                    <button type="submit" class="registerbtn">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>